{% extends "kle_main\001nav_base.html" %}
{% block body_block %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <style>
      body{
        color:rgba(0,217,255,1);
        background:url(https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif);
      }
      .container{
            background-color: #393a40;
            margin-top: 150px;
        }
        h5,td,th{
            color: white;
        }
    </style>
  </head> 
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Bachelor of Computer Applications</h2>
                   <div>
                    <h4>About Program</h4>
                    <h5 style="text-align:justify;">B.C.A is an undergraduate Computer Applications and Information Technology course.The duration of Bachelor of Computer Applications (BCA) is three years, divided into six semesters. The course provides sound practical skills addressing problems which arise from computer systems and applications. The Course produce employable IT workforce, that will have sound knowledge of IT that can be applied to develop and customize solutions for Small and Medium Enterprises (SME)</h5>
                    <h5 style="text-align:justify;">The BCA Course aims at inculcating essential skills as demanded by the global software industry through interactive learning process. The objectives of the programme is to provide sound academic base from which an advanced career in Computer Application can be developed. This also includes team-building skills, audio- visual presentations and personality development programmes</h5>
                </div>
            </div>
            <div class="col-md-6">
                <h1>Eligibility</h1>
                <h5> Minimum 50% marks in XII Std. with Mathematics or its equivalent examination in any stream conducted by a recognized Board/University/Council with Maths as Mandatory Subject.</h5>
                <table class="table table-bordered">
                    <h4>Fee Structure</h4>
                    <thead class="cf">
                        <tr>
                            <th>
                                Particulars</th>
                            <th>
                                Tuition fees</th>
                            <th>
                                Academic Services Fee</th>
                            <th>
                                Total Fee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-title="Particulars ">
                                All India Quota</td>
                            <td data-title="Tuition fees">
                                25000</td>
                            <td data-title="Academic Services Fee">
                                20000</td>
                            <td data-title="Total Fee">
                                45000</td>
                        </tr>
                        <tr>
                            <td data-title="Particulars">
                                Karnataka State Quota<br>
                                (After 26% Scholarship on&nbsp;Tuition Fee)</td>
                            <td data-title="Tuition fees">
                                18500</td>
                            <td data-title="Academic Services Fee">
                                20000</td>
                            <td data-title="Total Fee">
                                38500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
            </div>
        </div>
    </div>
     
  </body>
</html>
{% endblock %}